@use './assets/styles/common-styles.scss' as *;
:root {
    font-family: $font-text-base;
    --primary: #{$primary};
    --primary-active: #{$primary-active};
    --grey-input: #{$grey-input};
    --shadow-modal: #{$shadow-modal};
    --shadow-btn: #{$shadow-btn};
    --error: #{$error};
}
body {
    margin: 0;
    background-color: var(--base-bg);
    color: var(--text-color);
}

body.dark {
    @include darken();
}
body.light {
    @include lighten();
}
h1 {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--primary);
}
a:hover {
    color: var(--primary-active);
}
