@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
$assetPath :"/apps/atm-browser/src/assets/icons";

.sidenav-container {
    height: 100vh;
    width: 396px;
    background-color: #F1F1F1;
    color: #000000;
    display: block;
    position: fixed;
    z-index: 1;
}

.personal-account {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2em;
    margin-top: 1.5em;
}

.personal-account-name {
    margin-left: 1em;
}

.sidenav-nav {
    margin-left: 0;
    padding-left: 0;
    margin-left: 2em;
    margin-top: 1.5em;
}

.sidenav-nav-item{
    list-style-type: none;
}

.sidenav-nav-link {
    border: none;
    background-color: none;
}

.sidenav-nav-link-icon {

}

.sidenav-nav-link-text {

}

.themes {
    display: flex;
    margin-left: 2em;
    margin-top: 1.5em;
}

.theme-light {
    border: none;
    background-color: none;
}

.theme-dark {
    border: none;
    background-color: none;
}

.log-out {
    display: inline;
    border: none;
    background-color: none;
    margin-left: 2em;
    margin-top: 1.5em;
}

.log-out-text {
    color: #7B7B7B;
}

.divider {
    margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #B3B3B3;
}


