.project {
    height: 100vh;
    margin-left: 47px;
    overflow-y: scroll;
    width: 75vw;
    overflow-x: hidden;
    &_title {
        margin-top: 112px;
        font-size: 32px;
    }
    &_add_section {
        margin-top: 18px;
        border: none;
        border-radius: 20px;
        background-color: var(--bg-tabs);
        font-size: 16px;
        cursor: pointer;
        &__container {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 4px;
        }
    }

    &_section {
        &__wrapper {
            margin-top: 34px;
        }
    }
}
