<div class="project" *ngIf="projectInfo$ | async as project">
    <h1 class="project_title">
        {{ project.title }}
    </h1>
    <button class="project_add_section" (click)="onOpen()">
        <div class="project_add_section__container">
            <img src="../../../../../../assets/icons/add-task.svg" />
            <span>Добавить раздел</span>
        </div>
    </button>
    <div
        class="project_section__wrapper"
        *ngIf="sections$ | async as sectionList"
    >
        <div class="project_section__data" *ngFor="let section of sectionList">
            <section
                [section]="section"
                [projectId]="project.id"
                [todos$]="section.todos"
            ></section>
        </div>

        <common-modal
            [header]="'Добавить раздел'"
            [placeholder]="'Раздел'"
            [isOpen]="isOpen"
            (dataChanged)="addSection($event, project.id)"
        ></common-modal>
    </div>
</div>
