<div class="month_calendar__container">

    <div class="month_calendar__switch-month">
        <button class="month_calendar__btn-choose-month" size="xs" (click)="chooseMonth(-1)" tuiButton><</button>
        <p class="month_calendar__current-month">
            {{currentMonth }}
        </p>
        <button class="month_calendar__btn-choose-month" size="xs" (click)="chooseMonth(1)" tuiButton>></button>
    </div>


    <div class="month_calendar__table-container">
        <table class="month_calendar__table">

            <thead>
            <tr>
                <th class="month_calendar__table__header" *ngFor="let day of month.value.monthInWeeks[0]">
                    <p>{{day.dayData | dateParse : 'dd'}}</p>
                </th>
            </tr>
            </thead>

            <tbody class="month_calendar__tbody">

            <ng-container *ngIf="month | async as montha">
                <tr *ngFor="let week of montha.monthInWeeks">
                    <th class="month_calendar__table__element" [height]="100 / montha.monthInWeeks.length + '%'"
                        *ngFor="let day of week">
                        <div class="month_calendar__table__element__container">
                            <div class="month_calendar__table__element__container__text">{{day.dayData | dateParse}}</div>
                            <div class="month_calendar__table__element__container__task_container">
                                <span class="month_calendar__table__element__task" *ngFor="let task of day.tasks">
                                    <span> {{task.name}}</span>
                                    <span> {{task.timeStart }}</span>
                                </span>
                            </div>
                        </div>
                    </th>
                </tr>
            </ng-container>

            <tr class="month_calendar__table__row"></tr>

            </tbody>
        </table>
    </div>
</div>
