<div class="month_calendar__container">

    <div class="month_calendar__switch-month">
        <button class="month_calendar__btn-choose-month" size="xs" (click)="chooseMonth(-1)" tuiButton><</button>
        <p class="month_calendar__current-month">
            {{currentMonth}}
        </p>
        <button class="month_calendar__btn-choose-month" size="xs" (click)="chooseMonth(1)" tuiButton>></button>
    </div>


    <div class="month_calendar__table-container">
        <table class="month_calendar__table">

            <thead>
            <tr>
                <th class="month_calendar__table__header" *ngFor="let day of month.value.monthInWeeks[0]">
                    <p>{{day.dayData | dayParse}}</p>
                </th>
            </tr>
            </thead>

            <tbody class="month_calendar__tbody">

            <tr *ngFor="let week of month.value.monthInWeeks">
                <th class="month_calendar__table__element" *ngFor="let day of week">
                    <div style="height: 100%;">
                        <div style="text-align: left; padding: 5px">{{day.dayData | dateParse}}</div>
                        <div style="display: flex; flex-direction: column; gap: 5px; margin-top: 10%">
                            <ng-container *ngIf="day.tasks | async as tasks">
                                {{console.log(tasks)}}
                                <span style="display: flex; justify-content: space-between; margin: auto"
                                      class="month_calendar__table__element__task" *ngFor="let task of tasks">

                                    <span> {{task.name}}</span>
                                    <span> {{task.timeStart }}</span>
                                </span>
                            </ng-container>

                        </div>
                    </div>
                </th>
            </tr>


            <tr class="month_calendar__table__row">

            </tr>

            </tbody>
        </table>
    </div>
</div>
