<nav class="sidenavbar__container">
    <div>
        <div class="sidenavbar__personal-account">
            <img class="sidenavbar__personal-account-icon" src="../../../../../assets/icons/personal-account.svg" title="personal-account"/>
            <span class="sidenavbar__personal-account-name">Имя пользователя</span>
        </div>

        <ul class="sidenavbar__list">
            <li class="sidenavbar__list-item" *ngFor="let data of navDataList">
                <button class="sidenavbar__list-item-link" [routerLink]="[data.routeLink]">
                    <img class="sidenavbar__list-item-link-icon" [ngSrc]="data.icon" width="24" height="24" title="icon"/>
                    <span class="sidenavbar__list-item-link-text">{{data.label}}</span>
                </button>
            </li>
        </ul>

        <hr class="sidenavbar__divider"/>

        <ul class="sidenavbar__function">
            <li class="sidenavbar__function-item" *ngFor="let data of navDataFunction">
                <button class="sidenavbar__function-item-link" [routerLink]="[data.routeLink]" (click)="showNavbarData(data)">
                    <span>
                        <img class="sidenavbar__function-item-link-icon" [ngSrc]="data.icon" width="16" height="16" title="icon" [ngClass]='{rotate:data.isShow}'/>
                        <span class="sidenavbar__function-item-link-text">{{data.label}}</span>
                    </span>
                    <img class="sidenavbar__function-item-link-icon-two" src="../../../../../assets/icons/add.svg" title="icon" width="24" height="24"/>
                </button>

                <div *ngIf="data.isShow" class="sidenavbar__function-item-content">
                    <li class="sidenavbar__function-item-content-item" *ngFor="let project of data.content">
                        <span>
                            <img [ngSrc]="data.iconContent" width="20" height="20" title="icon" class="sidenavbar__function-item-content-item-icon"/>
                            <span class="sidenavbar__function-item-content-item-name">{{project}}</span>
                        </span>
                        <img class="sidenavbar__function-item-content-item-settings" src="../../../../../assets/icons/setting.svg" title="icon" width="16" height="16"/>
                    </li>

                </div>
            </li>
        </ul>
    </div>

    <div class="sidenavbar__settings">
        <div class="sidenavbar__settings-themes">
            <button class="sidenavbar__settings-themes-light">
                <img class="sidenav-container-settings-themes-light-icon" src="../../../../../assets/icons/light.svg" title="icon"/>
            </button>
            <button class="sidenavbar__settings-themes-dark">
                <img class="sidenav-container-settings-themes-dark-icon" src="../../../../../assets/icons/dark.svg" title="icon"/>
            </button>
        </div>

        <div class="sidenavbar__settings-log-out-container">
            <button class="sidenavbar__settings-log-out">
                <img class="sidenav-container-settings-log-out-icon" src="../../../../../assets/icons/logout.svg" title="icon"/>
                <span class="sidenavbar__settings-log-out-text">Выход</span>
            </button>
        </div>
    </div>
</nav>
