$base-bg-dark: #252525;
$base-bg-light: #fff;
$bg-auth-light: #e0e0e0;
$bg-menu-light: #f1f1f1;
$bg-menu-dark: #1e1e1e;
$modal-auth-light: rgb(255, 255, 255, 45%);
$modal-auth-dark: #252525;
$primary: #ff7a00;
$primary-active: #e06b00;
$hover-item-menu-light: rgb(255, 195, 140, 55%);
$hover-item-menu-default-light: rgb(224, 224, 224, 46%);
$hover-item-menu-dark: rgb(62, 62, 62, 68%);
$hover-item-menu-default-dark: #454545;
$base-text-color-light: #000;
$base-text-color-dark: #fff;
$base-grey: #7b7b7b;
$grey-input: #b3b3b3;
