.new-task {
    &__modal-task {
        width: 550px;
        height: 365px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }

    &__date-form {
        width: 250px;
        height: 510px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    &__name-task {
        width: 500px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        font-size: 20px;
        color: #252525;
        font-weight: 800;

        &:focus {
            outline: none;
        }
    }

    &__modal-btn-date {
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        max-width: 300px;
        height: 40px;
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);
    }

    &__modal-btn-ok {
        font-weight: 400;
        width: 128px;
        border-radius: 24px;
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);
    }

    &__modal-btn-cancel {
        font-weight: 400;
        width: 128px;
        border-radius: 24px;
        color: #7b7b7b;
        --tui-primary: #c8c8c8;
        --tui-primary-hover: #676767;
        --tui-primary-active: #676767;
    }

    &__select {
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);
        width: 170px;
    }

    &__textarea {
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);
        width: 544px;
        height: 131px;
    }

    &__modal {
        width: 320px;
    }

    &__modal-btn-add {
        font-size: 16px;
        font-weight: 400;
        width: 155px;
        height: 40px;
        border-radius: 24px;
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);
        margin-left: 24em;
    }

    &__calendar {
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);

    }

    &__input-time {
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);
        width: 270px;

    }

    &__checkbox {
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);

    }

    &__chosen-date {

    }
}
