<ng-template
    let-observer
    [tuiDialogOptions]="{ size: 'm' }"
    [(tuiDialog)]="isOpen"
>
    <div class="form">
        <h1 class="form_title">{{ header }}</h1>
        <form
            class="form_container"
            [formGroup]="commonForm"
            (ngSubmit)="onDataChanged(observer)"
        >
            <tui-input
                class="form_input"
                tuiTextfieldSize="m"
                formControlName="title"
            >
                {{ placeholder }}
            </tui-input>
            <div class="form_btns_container">
                <button class="form_button_positive" tuiButton type="submit">
                    Сохранить
                </button>
                <button
                    class="form_button_negative"
                    type="button"
                    (click)="observer.complete()"
                >
                    Отмена
                </button>
            </div>
        </form>
    </div>
</ng-template>
