<div class="section">
    <div class="section_settings">
        <h2 class="section_title">{{ sectionWithTodos.title }}</h2>
        <settings-tab-popap
            [value]="section"
            (changeData)="updateSection($event)"
            (deleteData)="deleteSection(sectionWithTodos.id)"
        ></settings-tab-popap>
        <new-task-modal
            style="margin-top: -1em"
            [projectId]="projectId"
            [sectionId]="sectionWithTodos.id"
        ></new-task-modal>
    </div>
    <hr class="section__line" />
    <list-web-component
        [taskList]="sectionWithTodos.taskList$ | async"
    ></list-web-component>
</div>
