.section {
    margin-bottom: 9vh;
    &_title {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        flex-grow: 1;
    }
    &_settings {
        height: 40px;
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: end;
        gap: 10px;
        margin-bottom: 4px;
    }
    &__line {
        margin-top: 0.5em;
        border: none;
        height: 0;
        border-top: 2px solid var(--bg-hover-item);
        width: 75vw;
    }
}
