.week_calendar {
    &__container {
        font-size: 13px;
        height: 100%;
        width: 105em;
    }

    &__table-container {
        border-radius: 5px;
        border: 1px solid;
        margin-top: 10px;
        height: 100%;
        width: 100%;
    }

    &__switch-week {
        display: flex;
        gap: 10px;
    }

    &__btn-choose-week {
        font-size: 20px;
        border-radius: 50%;
        --tui-primary: var(--primary);
        --tui-primary-hover: var(--primary-active);
        --tui-primary-active: var(--primary-active);
    }

    &__current-week {
        border-radius: 24px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        padding-right: 20px;

        margin: 0;

        background-color: var(--primary);
    }

    &__table {
        line-height: 1.1;
        color: var(--table-text);
        height: 100%;
        width: 100%;

        &__header {
            text-align: left;
            width: 13%;
        }

        &__row {
            min-height: 100px;
            position: relative
        }

        &__element {
            margin: 0;
            padding: 0;
            text-align: center;
            border: 1px solid;
            max-height: 4%;

            &__task {
                margin: 0;
                padding: 0;
                color: #000;
                height: 100%;
                background-color: burlywood;
                text-align: left;
                position: relative;
                z-index: 1;
            }
        }

        &__time {
            width: 5%;
        }
    }
}
