<tui-hosted-dropdown [content]="dropdown" [(open)]="open">
    <button
        type="button"
        style="
            background: transparent;
            border: none;
            cursor: pointer;
            height: 20px;
        "
    >
        <img src="../../../../../assets/icons/setting.svg" />
    </button>
</tui-hosted-dropdown>
<ng-template #dropdown>
    <tui-data-list>
        <button tuiOption (click)="openCommon()">Редактировать</button>
        <button tuiOption (click)="openDelete()">Удалить</button>
    </tui-data-list>
</ng-template>
<delete-element-notification
    [isOpen]="openDeleteNotification"
    (cancel)="handleCancel()"
    (confirm)="handleConfirm()"
></delete-element-notification>
<common-modal
    *ngIf="!isProject"
    [isOpen]="openCommonModal"
    [header]="'Редактировать'"
    [isCreate]="false"
    [value]="value"
    (dataChanged)="handleChangeData($event)"
>
</common-modal>
<new-project-modal
    *ngIf="isProject"
    [isOpen]="openCommonModal"
    [isEdit]="true"
    [project]="project"
>
</new-project-modal>
