<tui-root>
<router-outlet></router-outlet>
    <form
        class="b-form"
        [formGroup]="testForm"
    >
        <p>
            <tui-input
                formControlName="testValue"
                tuiTextfieldSize="l"
                [tuiTextfieldCleaner]="true"
            >
                Type an email
                <input
                    autocomplete="email"
                    tuiTextfield
                    type="email"
                    title="f"
                />
            </tui-input>
        </p>
    </form>
</tui-root>
