<div class="themes">
    <button class="themes-light" (click)="toggleMode(modeType.light)">
        <img
            [src]="
                modeChangedSubject.value === modeLight
                    ? '../../../../../assets/icons/light-mode-active.svg'
                    : '../../../../../assets/icons/light-mode-inactive.svg'
            "
            title="icon"
        />
    </button>
    <button class="themes-dark" (click)="toggleMode(modeType.dark)">
        <img
            title="icon"
            [src]="
                modeChangedSubject.value === modeDark
                    ? '../../../../../assets/icons/dark-mode-active.svg'
                    : '../../../../../assets/icons/dark-mode-inactive.svg'
            "
        />
    </button>
</div>
