<nav class="list-today__container">
    <h1 class="list-today__header-page">
        Сегодня
    </h1>

    <div class="list-today__current-tasks">
        <span class="list-today__header">{{ currentDate }} • Сегодня</span>
        <hr class="list-today__divider" />

        <ng-container *ngIf="unCompletedTask$ | async as taskList">
            <div style="display: flex; flex-direction: column" *ngFor="let task of taskList">
                <div class="list-today__task">
                    <div class="list-today__task">
                        <div class="list-today__checkbox">
                            <input type="checkbox" id="custom{{task.id}}" [(ngModel)]="task.checkbox"
                                   (ngModelChange)="updateTask(task)" />
                            <label for="custom{{task.id}}">
                                <tui-svg style="color: #eeeeee" src="tuiIconCheckLarge"/>
                            </label>
                        </div>

                        <div style="display: flex; flex-direction: column">
                            <span class="list-today__task-name">{{ task.name }}</span>
                            <span class="list-today__task-start-time">{{ task.timeStart }}</span>
                        </div>
                    </div>
                    <span class="list-today__task-tags">#{{ task.tags }}</span>
                </div>
                <hr class="list-today__divider" />
            </div>
        </ng-container>

        <button class="list-today__add-task" (click)="addTask()">
            <img
                class="list-today__link-icon"
                [ngSrc]="'../../../../../assets/icons/add-task.svg'"
                width="24"
                height="24"
                title="icon"
                alt=""
            />
            Добавить задачу
        </button>

        <!-- <input placeholder="Add task" [(ngModel)]="taskValueAdd"> -->
    </div>

    <div class="list-today__completed-tasks">
        <button class="list-today__button-complete" (click)="toggleSection()">
            <img
                class="list-today__link-icon"
                [ngSrc]="'../../../../../assets/icons/tag-close.svg'"
                width="16"
                height="16"
                title="icon"
                alt=""
                [ngClass]="{ 'rotate': isShow$ | async }"
            />
            <span class="list-today__header">Выполненные</span>
        </button>
        <hr class="list-today__divider" />
        <div *ngIf="isShow$ | async">
            <ng-container *ngIf="completedTask$ | async as completedTask">
                <div style="display: flex; flex-direction: column" *ngFor="let task of completedTask">
                    <div class="list-today__task">
                        <div class="list-today__task">
                            <div class="list-today__checkbox-complete">
                                <input type="checkbox" id="custom{{task.id}}" [(ngModel)]="task.checkbox"
                                       (ngModelChange)="updateTask(task)" />
                                <label for="custom{{task.id}}">
                                    <tui-svg style="color: #eeeeee" src="tuiIconCheckLarge"/>
                                </label>
                            </div>

                            <div style="display: flex; flex-direction: column">
                                <span class="list-today__task-name-complete">{{ task.name }}</span>
                                <span class="list-today__task-start-time-complete">{{ task.timeStart }}</span>
                            </div>
                        </div>
                        <span class="list-today__task-tags">#{{ task.tags }}</span>
                    </div>
                    <hr class="list-today__divider" />
                </div>
            </ng-container>
        </div>

    </div>
</nav>
